################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/processor/v16
/tool/bin/Debug/net5.0
/tool/obj
